{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Get ready to cruise with flair using Skyline where booking is a breeze, your options are endless, pricing is crystal-clear, rentals bend to your needs, wheels come to your doorstep, and support is always a tap away!</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>Get peace of mind with our free support services. Our expert team provides quick, personalized assistance without hidden fees. Whether you have questions or need troubleshooting, we're here for you. Contact us today!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>Get peace of mind with our free support services. Our expert team provides quick, personalized assistance without hidden fees. Whether you have questions or need troubleshooting, we're here for you. Contact us today!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Renew your belongings with our repair services. Our skilled technicians offer quality craftsmanship and attention to detail. Contact us today to schedule your repair.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>Stay cool all year round with our air conditioning services. Our expert technicians ensure efficient installations, prompt repairs, and regular maintenance to keep your home or office comfortable. Contact us today for reliable cooling solutions.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>Keep your vehicle running smoothly with our quick and efficient oil change services. Our experienced technicians provide thorough inspections and use high-quality oil to ensure optimal engine performance. Drive with confidence – schedule your oil change today!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>Revive your vehicle's heart with our precision engine repair. Our seasoned technicians diagnose and resolve issues swiftly, restoring optimal performance. Trust us to get you back on the road – schedule your repair now!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>Experience top-notch service at our dealership. With a wide selection and expert staff, we've got you covered. Visit us today!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>Safeguard your trip with our top-notch security solutions. From cutting-edge surveillance to reliable alarms, we've got you covered. Contact us today.</p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Reliable agents you can count on. Experienced, knowledgeable, and dedicated to helping you find your dream home. Contact us today</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>Discover the simplicity of car rentals with our intuitive mobile app. With just a few taps, you can effortlessly browse through our extensive selection of vehicles, each accompanied by transparent pricing so you always know exactly what you're paying for. Whether you're in need of a compact car for a quick urban escape or a spacious SUV for a family road trip, our diverse fleet has something for everyone.</p>
                    <p class="mb-0">Experience the ultimate convenience with our flexible rental options, allowing you to choose the duration that best fits your schedule, whether it's for a few hours, days, weeks, or even months. Plus, take advantage of our convenient delivery service, where we bring the rental car directly to your doorstep, saving you time and hassle. And rest assured, our dedicated customer support team is available 24/7 to assist you every step of the way, ensuring a seamless and stress-free rental experience. Download our app now and unlock the freedom to explore on your own terms.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
